<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Article_List
{% endblock title %}


{% block content %}
<h1>Все статьи</h1>
<h3>Всего статей:     {{ article_list|length }}   </h3>
<hr>
{% if article_list %}
<table>
    <tr>
        <td>Заголовок </td>
        <td>Дата публикации  </td>
        <td>Статья</td>
    </tr>
    <tr>
        <td><hr></td>
        <td><hr></td>
        <td><hr></td>
    </tr>


    {% for post_ in article_list %}
    <tr>
        <td>{{ post_.title|censor}}</td>
        <td>{{ post_.date_time|date:' d m Y' }}</td>
        <td>{{ post_.text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}


</table>
{% else %}
<h2>Статей нет !</h2>
{% endif %}
{% endblock content %}