<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Поиск
{% endblock title %}

<!--Новости — заголовок, дата публикации в формате день.месяц.год, затем первые 20 слов текста статьи. Можно вывести как списком, так и таблицей. Новости должны выводиться в порядке от более свежей к старой.
Сверху страницы должно быть выведено количество всех новостей (используется фильтр news|length).-->


<!-- В контенте на странице мы выводим все товары news_list-->
{% block content %}
    <h1>Поиск по новостям</h1>
    <h3>На странице {{ news_list|length }} новостей:       </h3>
    <hr>

   {# Добавляем форму, которая объединяет набор полей, они будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr>


    {% if news_list %}
        <table>
            <tr>
                <td>Заголовок </td>
                <td>Дата публикации  </td>
                <td>Статья</td>
                <td>---</td>
                <td>pk</td>
                <td>---</td>
            </tr>
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>

            {% for post_ in news_list %}
                <tr>
                    <td>{{ post_.title|censor}}</td>
                    <td>{{ post_.date_time|date:' d m Y' }}</td>
                    <td>{{ post_.text|truncatewords:20|censor }}</td>
                    <td></td>
                    <td>{{ post_.pk }}</td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

  {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
<!--       <a href="?page=1">1</a>-->
        <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
<!--           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>-->
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
<!--       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>-->
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
<!--           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>-->
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}