<!DOCTYPE html>
<html>
<head>
<title>Абаут Титл</title>
    <!--<h3>Абаут Хэд:</h3>-->
</head>
<body>
{% include 'flatpages/contact_page.html' %}
{% include 'flatpages/inc.html' %}
<h3>
<!--    {% if is_not_author %}-->
<!--        <p align="center"> <button> <a href="upgrade/"> Стать автором</a> </button> </p>-->
<!--    {% endif %}-->
<!--    <p align="center"> <button> <a href="upgrade/"> Стать автором</a> </button> </p>-->
<!--    <p align="center"> <button> <a href="/upgrade/"> Стать автором</a> </button> </p>-->
</h3>
</body>
<h3>Абаут html:</h3>
</html>